<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scal=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
    
    <p>mobile number</p>    <input type="text" name="mobile_number">
  <p>password</p>  <input type="password" name="password">
    <input type="submit" value="Login">
    </form>
</br></br>
    <a href="http://localhost:3000/signup/" target='blank' style='color:blue';> Signup </a>
</body>
</html>